* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav.sidebar {
    background-color: #444;
    color: #fff;
    padding: 1rem;
    width: 100%;
}

nav.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

nav.sidebar ul li {
    margin: 1rem 0;
}

nav.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

main.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}



section.widgets .widget {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    flex: 1 1 calc(25% - 1rem);
    padding: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    nav.sidebar {
        width: 100%;
    }

    section.widgets .widget {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    section.widgets .widget {
        flex: 1 1 100%;
    }
}
/* for password change*/
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Submit{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#Submit:hover {
    background-color: #45a049;
}


.select-container {
    position: relative;
    width: 200px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    font-size: 16px;
    color: #333;
}

select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select-container::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    font-size: 12px;
}